<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eddie_base">

    <!-- Include macro files -->
    <xacro:include filename="$(find eddie_description)/urdf/kelo_drive_unit.macro.xacro" />

    <xacro:macro name="eddie_base" params="robot_prefix use_ros2_control use_gz_sim use_kelo_tulip">

        <!-- Properties -->
        <xacro:property name="mesh_package" value="eddie_description" />

        <!-- The CAD meshes are y-up and in millimetres. -->
        <xacro:property name="mesh_rpy" value="1.5708 0 1.5708" />
        <xacro:property name="mesh_scale" value="0.001 0.001 0.001" />

        <!-- wheel unit attachments, on the units' slew-bearing axes -->
        <xacro:property name="front_left_attachment_origin">
            <origin xyz="0.18813 0.20748 -0.1273" rpy="0 0 0" />
        </xacro:property>

        <xacro:property name="rear_left_attachment_origin">
            <origin xyz="-0.18787 0.20748 -0.1273" rpy="0 0 0" />
        </xacro:property>

        <xacro:property name="rear_right_attachment_origin">
            <origin xyz="-0.18787 -0.20752 -0.1273" rpy="0 0 0" />
        </xacro:property>

        <xacro:property name="front_right_attachment_origin">
            <origin xyz="0.18813 -0.20752 -0.1273" rpy="0 0 0" />
        </xacro:property>

        <!-- base link origin -->
        <xacro:property name="base_link_origin">
            <origin xyz="0 0 0.2164" rpy="0 0 0" />
        </xacro:property>

        <!-- torso origin, from "Full assembly Robot 7_5D.STEP" -->
        <xacro:property name="torso_xyz" value="-0.1738 0.0003 0.4184" />

        <!-- arm attachment origins -->
        <xacro:property name="left_arm_attachment_origin">
            <origin xyz="${-0.1738 + 0.0236} ${0.0003 + 0.0676} ${0.4184 + 0.1160}"
                rpy="${0} ${0 + 0.09} ${1.5708 - 0.7783}" />
        </xacro:property>

        <xacro:property name="right_arm_attachment_origin">
            <origin xyz="${-0.1738 + 0.0236} ${0.0003 - 0.0676} ${0.4184 + 0.1160}"
                rpy="${0} ${0 + 0.09} ${1.5708 - 2.3632}" />
        </xacro:property>

        <!-- Links -->
        <link name="${robot_prefix}base_footprint" />
        <link name="${robot_prefix}left_arm_attachment_link" />
        <link name="${robot_prefix}right_arm_attachment_link" />

        <link name="${robot_prefix}base_link">
            <!-- base -->
            <visual>
                <origin rpy="${mesh_rpy}" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/casing.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="casing_grey" />
            </visual>
            <visual>
                <origin rpy="${mesh_rpy}" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/panel.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="casing_grey" />
            </visual>
            <visual>
                <origin rpy="${mesh_rpy}" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/cover.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="cover_light" />
            </visual>
            <visual>
                <origin rpy="${mesh_rpy}" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/lidar.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="lidar_grey" />
            </visual>

            <!-- only the outer shell can hit the world -->
            <collision>
                <origin rpy="${mesh_rpy}" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/casing.stl" scale="${mesh_scale}" />
                </geometry>
            </collision>

            <!-- torso -->
            <visual>
                <origin rpy="${mesh_rpy}" xyz="${torso_xyz}" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/torso.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="cover_light" />
            </visual>
            <visual>
                <origin rpy="${mesh_rpy}" xyz="${torso_xyz}" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/torso_mounts.stl" scale="${mesh_scale}" />
                </geometry>
                <material name="mount_grey" />
            </visual>
            <collision>
                <origin rpy="${mesh_rpy}" xyz="${torso_xyz}" />
                <geometry>
                    <mesh filename="package://${mesh_package}/meshes/torso.stl" scale="${mesh_scale}" />
                </geometry>
            </collision>

            <!-- base + torso -->
            <inertial>
                <mass value="76.4377" />
                <origin xyz="0 0 0.0833" rpy="0 0 0" />
                <inertia ixx="4.128795216" ixy="0" ixz="0" iyy="4.117596854" iyz="0"
                    izz="3.364397364" />
            </inertial>
        </link>

        <!-- Joints -->
        <joint name="${robot_prefix}base_link_joint" type="fixed">
            <parent link="${robot_prefix}base_footprint" />
            <child link="${robot_prefix}base_link" />
            <xacro:insert_block name="base_link_origin" />
        </joint>

        <joint name="${robot_prefix}left_arm_attachment_joint" type="fixed">
            <parent link="${robot_prefix}base_link" />
            <child link="${robot_prefix}left_arm_attachment_link" />
            <xacro:insert_block name="left_arm_attachment_origin" />
        </joint>

        <joint name="${robot_prefix}right_arm_attachment_joint" type="fixed">
            <parent link="${robot_prefix}base_link" />
            <child link="${robot_prefix}right_arm_attachment_link" />
            <xacro:insert_block name="right_arm_attachment_origin" />
        </joint>

        <!-- laser scanners -->
        <link name="${robot_prefix}front_right_laser_attachment_link" />
        <link name="${robot_prefix}rear_left_laser_attachment_link" />

        <joint name="${robot_prefix}front_right_laser_attachment_joint" type="fixed">
            <parent link="${robot_prefix}base_link" />
            <child link="${robot_prefix}front_right_laser_attachment_link" />
            <origin xyz="0.2193 -0.2391 0.0682" rpy="0 0 0" />
        </joint>

        <joint name="${robot_prefix}rear_left_laser_attachment_joint" type="fixed">
            <parent link="${robot_prefix}base_link" />
            <child link="${robot_prefix}rear_left_laser_attachment_link" />
            <origin xyz="-0.2193 0.2386 0.0682" rpy="0 0 0" />
        </joint>

        <!-- instantiate laser scanners -->
        <xacro:include filename="$(find eddie_description)/urdf/sensors/hokuyo.urdf.xacro" />

        <!-- front right -->
        <xacro:hokuyo
            name="${robot_prefix}front_right_laser_"
            parent="${robot_prefix}front_right_laser_attachment_link"
            topic="/${robot_prefix}front_right_laser"
            use_gz_sim="${use_gz_sim}"
            max_angle="1.7"
            min_angle="-1.7">
            <origin xyz="0 0 0" rpy="${pi} 0 -0.7854" />
        </xacro:hokuyo>

        <!-- rear left -->
        <xacro:hokuyo
            name="${robot_prefix}rear_left_laser_"
            parent="${robot_prefix}rear_left_laser_attachment_link"
            topic="/${robot_prefix}rear_left_laser"
            use_gz_sim="${use_gz_sim}"
            max_angle="1.7"
            min_angle="-1.7">
            <origin xyz="0 0 0" rpy="${pi} 0 2.3562" />
        </xacro:hokuyo>

        <!-- imu -->
        <link name="${robot_prefix}imu_link" />
        <joint name="${robot_prefix}imu_joint" type="fixed">
            <parent link="${robot_prefix}base_link" />
            <child link="${robot_prefix}imu_link" />
            <origin xyz="0 0 0" rpy="0 0 0" />
        </joint>

        <xacro:if value="${use_gz_sim}">
            <gazebo reference="${robot_prefix}imu_link">
                <sensor name="${robot_prefix}imu_sensor" type="imu">
                    <always_on>1</always_on>
                    <update_rate>1</update_rate>
                    <visualize>true</visualize>
                    <topic>${robot_prefix}imu</topic>
                </sensor>
            </gazebo>
        </xacro:if>

        <!-- Instantiate wheel units -->

        <!-- front left -->
        <xacro:kelo_drive_unit
            parent="${robot_prefix}base_link"
            use_ros2_control="${use_ros2_control}"
            use_gz_sim="${use_gz_sim}"
            use_kelo_tulip="${use_kelo_tulip}"
            struct_prefix="${robot_prefix}front_left_drive_"
            mirrored="true">
            <xacro:insert_block name="front_left_attachment_origin" />
        </xacro:kelo_drive_unit>

        <!-- rear left -->
        <xacro:kelo_drive_unit
            parent="${robot_prefix}base_link"
            use_ros2_control="${use_ros2_control}"
            use_gz_sim="${use_gz_sim}"
            use_kelo_tulip="${use_kelo_tulip}"
            struct_prefix="${robot_prefix}rear_left_drive_"
            mirrored="true">
            <xacro:insert_block name="rear_left_attachment_origin" />
        </xacro:kelo_drive_unit>

        <!-- rear right -->
        <xacro:kelo_drive_unit
            parent="${robot_prefix}base_link"
            use_ros2_control="${use_ros2_control}"
            use_gz_sim="${use_gz_sim}"
            use_kelo_tulip="${use_kelo_tulip}"
            struct_prefix="${robot_prefix}rear_right_drive_"
            mirrored="false">
            <xacro:insert_block name="rear_right_attachment_origin" />
        </xacro:kelo_drive_unit>

        <!-- front right -->
        <xacro:kelo_drive_unit
            parent="${robot_prefix}base_link"
            use_ros2_control="${use_ros2_control}"
            use_gz_sim="${use_gz_sim}"
            use_kelo_tulip="${use_kelo_tulip}"
            struct_prefix="${robot_prefix}front_right_drive_"
            mirrored="false">
            <xacro:insert_block name="front_right_attachment_origin" />
        </xacro:kelo_drive_unit>

    </xacro:macro>

</robot>